<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IFRC2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".RevisitPPActivity"
            android:exported="false" />
        <activity
            android:name=".RevisitHHActivity"
            android:exported="false" />
        <activity
            android:name=".FollowupList"
            android:exported="false" />
        <activity
            android:name=".Followup"
            android:exported="false" />
        <activity
            android:name=".Revision"
            android:exported="false" />
        <activity
            android:name=".Participant"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".HouseHold"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>